<!DOCTYPE html>
<html lang="en" ng-app="lettuceEat">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lettuce Eat</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="style.css" rel="stylesheet">
    <script src="bootstrap/js/jquery-1.11.3.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="angular/app.js"></script>
    <script src="angular/lettuceFactory.js"></script>
    <script src="angular/usersController.js"></script>
    <script src="angular/linkedInController.js"></script>
    <script src="angular/facebookController.js"></script>
    <script type="text/javascript">
    $(document).ready( function () {
      $('.modal').on('hidden.bs.modal', function () {
        $(this).find('input').val('');
      });

      $('#closeReg').click(function () {
        $('#registerModal').modal('hide');
      });
      $('#closeLogin').click(function () {
        $('#loginModal').modal('hide');
      });
    })
    </script>
  </head>
  <body ng-controller="usersController">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Lettuce Eat</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ng-hide="user" data-toggle="modal" href="#loginModal">Log in</a></li>
            <!-- <li><a ng-hide="user" data-toggle="modal" href="#registerModal">Register</a></li> -->
            <li><a ng-show="user" href="#/dashboard">Profile</a></li>
            <li><a ng-show="user" href="" ng-click="logOut()">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

  <div ng-view=""></div>
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center" ng-controller="linkedInController">
          <img class="social-btn" src="img/linkedin-login-button.png" alt="Sign up with LinkedIn" ng-click="logIn()">
        </div>
        <div class="btn-space"></div>
        <div class="text-center" ng-controller="facebookController">
          <img class="social-btn" src="img/facebook-login-button.png" alt="Sign up with Facebook" ng-click="logIn()">
        </div>
        <div>
          <span>or</span>
          <hr>
        </div>
        <form name="loginForm">
          <span class="text-danger" ng-bind="logErrors.message"></span>
          <input type="email" class="form-control" placeholder="Email" ng-model="userInfo.email" ng-required="true" required>
          <input type="password" class="form-control" placeholder="Password" ng-model="userInfo.password" ng-required="true" required>
          <button ng-disabled="loginForm.$invalid" ng-click="logIn()" class="btn btn-success form-control">Sign in</button>
        </form>
      </div>
      <div class="modal-footer">
        <p>Don't have an account? <a id="closeLogin" data-toggle="modal" href="#registerModal">Register</a></p>
      </div>
    </div>
  </div>
  </div>
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <!-- <h4 class="modal-title" id="myModalLabel">Register</h4> -->
      <!-- </div> -->
      <div class="modal-body">
        <div class="text-center" ng-controller="linkedInController">
          <img class="social-btn" src="img/linkedin-login-button.png" alt="Sign up with LinkedIn" ng-click="logIn()">
        </div>
        <div class="btn-space"></div>
        <div class="text-center" ng-controller="facebookController">
          <img class="social-btn" src="img/facebook-login-button.png" alt="Sign up with Facebook" ng-click="logIn()">
        </div>
        <div>
          <span>or</span>
          <hr>
        </div>
        <form name="regForm">
          <span class="text-danger" ng-bind="regErrors.message"></span>
          <input type="text" class="form-control" placeholder="First Name" ng-model="newUser.first_name" ng-required="true" required>
          <input type="text" class="form-control" placeholder="Last Name" ng-model="newUser.last_name" ng-required="true" required>
          <input type="email" class="form-control" placeholder="Email" ng-model="newUser.email" ng-required="true" required>
          <input type="password" class="form-control" placeholder="Password" ng-model="newUser.password" ng-required="true" required ng-minlength="8" ng-maxlength="15">
          <span>* Passwords must be 8-15 characters long</span>
          <button ng-disabled="regForm.$invalid" ng-click="register()" class="btn btn-success form-control">Register</button>
        </form>
      </div>
      <div class="modal-footer">
        <p>Already have an account? <a id="closeReg" data-toggle="modal" href="#loginModal">Log in</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
