.nav-space {
  margin-top: 50px;
}

#landing {   
  background-color: #444;
  background-image: url(./img/young-people-eating.jpg);
  margin-top: 50px;
  /*margin-bottom: -20px;*/
  /*padding-top: 150px;*/
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landing h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -1px;
}

h2.subtitle {
  color: #fff;
  font-size: 20px;
  margin-top: 300px;
}

.boxed {
  background-color: rgba(0,0,0,0.7);
  display: inline-block;
  padding: 1em;
  height: 650px;
}

.btn-theme {
  color: #fff;
  background-color: #fd680d;
}

/*.no-pad {
  padding: 0;
}
.no-mar {
  margin: 0;
}*/
#locationInput {
  border: none;
  padding: 6px 12px;
  height: 32px;
}
#locationInSpan {
  padding: 0;
}
.social-btn {
  cursor: pointer;
}
.btn-space {
  height: 4px;
}