<div id="landing">
  <div class="boxed text-center">
    <h1>Don't eat lonely.</h1>
    <h2 class="subtitle">Find people eating now</h2>
    <div class="row">
      <form class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="input-group">
          <span id="locationInSpan" class="input-group-addon">
            <input id="locationInput" type="text" placeholder="Where?">
          </span>
          <input type="text" class="form-control" placeholder="What?">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-theme">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>       
</div>