<div class="nav-space" id="landing">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="boxed">
          <h1>Who is eating around you?</h1>
          <h2 class="subtitle">Never go to lunch alone again</h2>
          <form>
            <div class="row">
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Your location">
              </div>
              <div class="col-sm-2 text-right">
                <button type="submit" class="btn btn-theme">Search</button>
              </div>
            </div>
            <input type="date">
            <input type="time">
          </form>
        </div>       
      </div>
    </div>
  </div>
</div>