<div class="nav-space">
  <div class="container">
    <div class="row">
      <h2>Search results</h2>
      <form>
        <div class="form-group">
          <div class="col-xs-10 no-pad">
            <input type="text" class="form-control" placeholder="Location" ng-model="find.location">
            <input type="text" class="form-control" placeholder="Restaurant, Cuisine, or Dish" ng-model="find.term">
          </div>
          <div class="col-xs-2 no-pad">
            <button type="button" class="btn btn-theme btn-lg no-mar" id="search-button" aria-label="Search" ng-click="findEvents()">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <h2>Events happening soon:</h2>
    <div class="row" ng-repeat="event in events">
      <div class="col-sm-4">
        <p ng-bind="event.name"></p>
        <!-- <p ng-bind="restaurant.name"></p>
        <img src="{{restaurant.rating_img_url}}" alt="rating= {{restaurant.rating}}">
        <a href="{{restaurant.url}}">See Yelp page</a> -->
      </div>
      <div class="col-sm-4">
        <p ng-bind="event.location"></p>
        <p ng-bind="event.datetime"></p>
        <!-- <p ng-bind="restaurant.location.display_address[0]"></p>
        <p ng-bind="restaurant.location.display_address[1]"></p>
        <p ng-bind="restaurant.location.display_address[2]"></p> -->
      </div>
      <button class="btn btn-primary" ng-click="">Join!</button>
    </div>
  </div>
</div>