<div class="nav-space">
  <div class="container">
    <div class="row">
      <h2>Create your event</h2>
      <h2>Pick somewhere to eat</h2>
      <form>
        <div class="form-group">
          <div class="col-xs-10 no-pad">
            <input type="text" class="form-control" placeholder="Location" ng-model="location">
            <input type="text" class="form-control" placeholder="Restaurant, Cuisine, or Dish" ng-model="food">
          </div>
          <div class="col-xs-2 no-pad">
            <button type="button" class="btn btn-theme btn-lg no-mar" id="search-button" aria-label="Search" ng-click="search()">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div ng-repeat="restaurant in restaurants">
      <p ng-bind="restaurant.name"></p>
    </div>
  </div>
</div>